VITE_API_BASE=http://localhost:3000
VITE_API_BASE_URL=http://localhost:3000
VITE_API_URL=http://localhost:3000
VITE_BF_API_URL=http://localhost:3000
VITE_BI_API_URL=http://localhost:3000
VITE_SLF_API_URL=http://localhost:3000
VITE_JWT_STORAGE_KEY=auth_token

VITE_MSAL_CLIENT_ID=c8890d6f-eb8f-4101-8336-5e8fca3303e0
VITE_MSAL_TENANT_ID=b585ab8e-bd39-449d-9210-479a9c989bb2
VITE_MSAL_REDIRECT_URI=http://localhost:5173
VITE_MSAL_SCOPES=User.Read,Mail.Send,Calendars.ReadWrite,Tasks.ReadWrite,offline_access

VITE_VAPID_PUBLIC_KEY=
# Set this to the VAPID public key in Azure Static Web App env to enable push notifications.
